<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  Essential META Tags -->
<meta property="og:title" content="Tuesday, March 31, 2026">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://transdayofsnackchicago.org/assets/TDoS-social-poster.png">
<meta property="og:url" content="https://transdayofsnackchicago.org">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->
<meta property="og:description" content="If you are trans, nonbinary, genderfluid, or otherwise gender expansive, join us for a free snack!">
<meta property="og:site_name" content="Trans Day of Snack Chicago">
<meta name="twitter:image:alt" content="Trans Day of Snack Chicago, Tuesday, March 31, 2026, 3PM to 6PM (or until snacks run out), Welles Park, 2333 W. Sunnyside Ave near the gazebo. Why? Because you're great, and you deserve a nice snack!">
  
  <link id="main-stylesheet" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link id="additional-stylesheet" rel="stylesheet" href="{{ '/assets/css/additional-style.css' | relative_url }}">
  <title>Trans Day of Snack Chicago - Tuesday, March 31, 2026</title>
  {%- feed_meta -%}

  {%- include custom-head.html -%}
  
</head>
