
header.site-header {
  background: #ffffff;
  background: linear-gradient(130deg, rgba(85, 205, 252, 0.5) 0%, rgba(247, 168, 184, 0.5) 33%, rgba(255, 255, 255, 1) 66%);
}

.site-title {
  font-weight: bold !important;
}
