
a {
  text-decoration: underline;
  text-underline-position: under;
}

footer {
  display: none;
}

header.site-header {
  background: #ffffff;
  background: linear-gradient(150deg, rgba(85, 205, 252, 0.25) 0%, rgba(247, 168, 184, 0.25) 20%, rgba(255, 255, 255, 1) 40%, rgba(247, 168, 184, 0.25) 80%, rgba(85, 205, 252, 0.25) 100%);
}

header.site-header .wrapper {
  display: flex;
}

a.site-title {
  font-weight: bold !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0.25rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

a.site-title > * {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}

a.site-title:hover {
  text-decoration: none;
  outline: solid 0.15rem #000000;
}

@media screen and (max-width: 400px) {
  a.site-title {
    flex-direction: column;
  }

  a.site-title > * {  
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  margin-left: auto;
  margin-right: auto;
  }
}

.post-content h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0;
}

.post-content h3 {
  font-size: 1.15rem;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 400;
}

.post-content a {
  color: #4300cc;
}

.post-header {
  border-color: #999;
}

.site-header {
  box-shadow: 0 5px 3px 0 rgba(153,153,153,0.75);
-webkit-box-shadow: 0 5px 3px 0 rgba(153,153,153,0.75);
-moz-box-shadow: 0 5px 3px 0 rgba(153,153,153,0.75);
}
