
header.site-header {
  background: #ffffff;
  background: linear-gradient(150deg, rgba(85, 205, 252, 0.25) 0%, rgba(247, 168, 184, 0.25) 20%, rgba(255, 255, 255, 1) 40%, rgba(247, 168, 184, 0.25) 80%, rgba(85, 205, 252, 0.25) 100%);
}

header.site-header .wrapper {
  display: flex;
}

.site-title {
  font-weight: bold !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0.25rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
}

a.site-title:hover {
  text-decoration: none;
  outline: solid 0.15rem #000000;
}

@media screen and (max-width: 400px) {
  .site-title {
    flex-direction: column;
  }
}
